body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 1250px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.ant-btn.ant-btn-primary {
  background-color:  #273c75;
  border-color: #273c75;
}

.ant-btn.ant-btn-primary:hover, .ant-btn.ant-btn-primary:focus {
  background-color:  #273c75;
  border-color: #273c75;
}

.opuscapita_date-input-field input {
    border: 1px solid gainsboro !important;
    height: 32px !important;
    border-radius: 3px !important;
    width: 167px !important;
    padding-left: 10px;
}

.opuscapita_date-input__variants-btn {
  display: none;
}